
.out-wrapper{
    display: grid;
    grid-gap: 1em;
}

.card{
    display:grid;
    grid-template-columns: 1fr 8fr;
    background-color: #05386b1f;
    grid-gap: 1em;
    padding: 5px;
}

.msg-card{
    display:grid;
    grid-template-rows: 50px 1fr;
    text-align: left;
}

